/* line 24, ../sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

/* line 30, ../sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* line 42, ../sass/project.scss */
.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  /* line 47, ../sass/project.scss */
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  /* line 53, ../sass/project.scss */
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  /* line 57, ../sass/project.scss */
  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}
/* line 70, ../sass/project.scss */
[hidden][style="display: block;"] {
  display: block !important;
}

/* line 2, ../sass/_usuarios.scss */
.confirm_usuarios_creados table {
  width: 100%;
}
/* line 4, ../sass/_usuarios.scss */
.confirm_usuarios_creados table th {
  background: gray;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 0 1em;
}
/* line 12, ../sass/_usuarios.scss */
.confirm_usuarios_creados table td {
  text-align: center;
  border: 1px solid gray;
}

/* line 21, ../sass/_usuarios.scss */
.confirm_usuarios_creados div {
  padding: 1em;
}

/* line 7, ../sass/_graficos.scss */
.main-content {
  margin-top: 3%;
  padding-bottom: 3%;
}
/* line 10, ../sass/_graficos.scss */
.main-content .filtros {
  margin-bottom: 5%;
}
/* line 12, ../sass/_graficos.scss */
.main-content .filtros h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
/* line 18, ../sass/_graficos.scss */
.main-content .filtros .tipo-titulo ul {
  list-style-type: none;
}
/* line 20, ../sass/_graficos.scss */
.main-content .filtros .tipo-titulo ul li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #D8D8D8;
  border-bottom: solid 2px white;
  margin-left: -3em;
  margin-right: 3em;
}
/* line 26, ../sass/_graficos.scss */
.main-content .filtros .tipo-titulo ul li a {
  color: inherit;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  display: block;
}
