@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
/* line 24, ../sass/project.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

/* line 30, ../sass/project.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* line 49, ../sass/project.scss */
[hidden][style="display: block;"] {
  display: block !important;
}

/* line 53, ../sass/project.scss */
body {
  font-size: 16px;
  padding-top: 70px;
}

/* line 2, ../sass/_usuarios.scss */
.confirm_usuarios_creados table {
  width: 100%;
}
/* line 4, ../sass/_usuarios.scss */
.confirm_usuarios_creados table th {
  background: gray;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 0 1em;
}
/* line 12, ../sass/_usuarios.scss */
.confirm_usuarios_creados table td {
  text-align: center;
  border: 1px solid gray;
}

/* line 21, ../sass/_usuarios.scss */
.confirm_usuarios_creados div {
  padding: 1em;
}

/* line 2, ../sass/_graficos.scss */
.show_data img {
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
}
/* line 8, ../sass/_graficos.scss */
.show_data .no_data {
  text-align: center;
  margin-bottom: 25px;
}

/* line 1, ../sass/_panel_lateral.scss */
body {
  overflow-x: hidden;
}

/* Toggle Styles */
/* line 7, ../sass/_panel_lateral.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 13, ../sass/_panel_lateral.scss */
#wrapper.toggled {
  padding-left: 250px;
}

/* line 18, ../sass/_panel_lateral.scss */
#sidebar-wrapper {
  top: 51px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 34, ../sass/_panel_lateral.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* line 38, ../sass/_panel_lateral.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* line 44, ../sass/_panel_lateral.scss */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
/* line 51, ../sass/_panel_lateral.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 58, ../sass/_panel_lateral.scss */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
/* line 61, ../sass/_panel_lateral.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
/* line 65, ../sass/_panel_lateral.scss */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/* line 70, ../sass/_panel_lateral.scss */
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
/* line 75, ../sass/_panel_lateral.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
/* line 79, ../sass/_panel_lateral.scss */
.sidebar-nav > .sidebar-brand a, .sidebar-nav > .sidebar-brand p {
  color: #999999;
}
/* line 81, ../sass/_panel_lateral.scss */
.sidebar-nav > .sidebar-brand a:hover, .sidebar-nav > .sidebar-brand p:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  /* line 90, ../sass/_panel_lateral.scss */
  #wrapper {
    padding-left: 250px;
  }
  /* line 92, ../sass/_panel_lateral.scss */
  #wrapper.toggled {
    padding-left: 0;
  }

  /* line 96, ../sass/_panel_lateral.scss */
  #sidebar-wrapper {
    width: 200px;
  }

  /* line 99, ../sass/_panel_lateral.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  /* line 102, ../sass/_panel_lateral.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  /* line 106, ../sass/_panel_lateral.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/* line 2, ../sass/_formularios.scss */
.formulario .seccion {
  border-radius: 5px;
  border: 1px solid #E6E6E6;
  padding-top: 5px;
  margin-bottom: 5px;
}
/* line 8, ../sass/_formularios.scss */
.formulario .submit {
  text-align: right;
}

/* line 4, ../sass/_tabla.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_tabla.scss */
table {
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* line 18, ../sass/_tabla.scss */
thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 20, ../sass/_tabla.scss */
thead th {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NmY3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRhNTU2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
  background-image: -moz-linear-gradient(#646f7f, #4a5564);
  background-image: -webkit-linear-gradient(#646f7f, #4a5564);
  background-image: linear-gradient(#646f7f, #4a5564);
  border-top: 1px solid #858d99;
}
/* line 28, ../sass/_tabla.scss */
thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 30, ../sass/_tabla.scss */
thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 33, ../sass/_tabla.scss */
tbody tr td {
  color: #5f6062;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

/* line 40, ../sass/_tabla.scss */
tbody tr:nth-child(2n) {
  background: #f0f3f5;
}

/* line 42, ../sass/_tabla.scss */
tbody tr:last-child td {
  border-bottom: none;
}
/* line 44, ../sass/_tabla.scss */
tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 45, ../sass/_tabla.scss */
tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 48, ../sass/_tabla.scss */
tbody:hover > tr td {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 50, ../sass/_tabla.scss */
tbody:hover > tr:hover td {
  text-shadow: none;
  color: #2d2d2d;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
