{% load staticfiles i18n %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">HidroMed S.A.</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'about' %}">Sobre nosotros</a></li>
      {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
          <li><a href="{% url 'crear_usuarios' %}">Crear usuarios</a></li>
        {% endif %}
        <li><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></li>
        <li><a href="{% url 'tablero_rapido' %}">Tablero Rápido</a></li>
        <li><a href="{% url 'grafica_gratis' %}">Mis gráficos</a></li>
        <li><a href="{% url 'detalle_usuario' %}">Mi perfil</a></li>
        <li><a href="{% url 'account_logout' %}">Salir</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Ingresar</a></li>
      {% endif %}
    </ul>
  </div>
</nav>