{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Creación de usuarios{% endblock %}
{% block content %}
	<div class="container">
		<div class="row form-container">
			<h1>Creación de usuarios</h1>
			<p>Descargue <a href="static/archivos/Usuarios.xlsx">aquí</a> el formato para la creación de usuarios</p>
			{% csrf_token %}
			{% crispy form %} 
		</div>
		{% if data.users %}
			<div class="row confirm_usuarios_creados">
				<div>
					<h1>Usuarios creados</h1>
					<table>
						<tr>
							<th>NIT</th>
							<th>Empresa</th>
							<th>Usuario creado</th>
							<th>Perfil</th>
						</tr>
						{% for usuario in data.users %}
							<tr>
								<td>{{ usuario.empresa.nit }}</td>
								<td>{{ usuario.empresa.nombre }}</td>
								<td>{{ usuario.username }}</td>
								<td>{{ usuario.get_perfil_display }}</td>
							</tr>
						{% endfor %}
					</table>	
				</div>
				<div>
					<h1>Polizas por usuario</h1>
					<table>
						<tr>
							<th>Póliza</th>
							<th>usuario</th>
						</tr>
						{% for polizas in data.polizas %}
							{% for poliza in polizas %}
								<tr>
									<td>{{ poliza.poliza }}</td>
									<td>{{ poliza.usuario }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</table>	
				</div>
				<div>
					<h1>Medidores por usuario</h1>
					<table>
						<tr>
							<th>Medidor</th>
							<th>Usuario</th>
						</tr>
						{% for medidores in data.medidores %}
							{% for medidor in medidores %}
								<tr>
									<td>{{ medidor.medidor }}</td>
									<td>{{ medidor.usuario }}</td>
								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}