{% extends "base.html" %}

{% load chartit %}
{% block title %}Gráfico gratuito{% endblock %}

{% block content %}
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    {% endblock %}
    <div class="container">
        <div class="row">
            {% if data %}
                {% for medidor1 in data.grafico_izarnetv1 %}
                    {% with forloop.counter|stringformat:"s"|add:"gratisizar1" as text %}
                        <div id="{{ forloop.counter }}gratisizar1">{{ medidor1 }} {{ medidor1|load_charts:text }}</div>
                    {% endwith %}
                {% endfor %}
                {% for medidor2 in data.grafico_izarnetv2 %}
                    {# <div id="gratisizar2{{ forloop.counter }}">{{ medidor2|load_charts:"gratisizar2{{ forloop.counter }}" }}</div> #}
                {% endfor %}
            {% else %}
                <div class="no-content">                
                    <h1>NO SE ENCONTRARON DATOS</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}