{% extends "base.html" %}

{% load chartit %}
{% load crispy_forms_tags %}
{% block title %}Gráfico gratuito{% endblock %}

{% block content %}
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    {% endblock %}
    <div class="container">
        <div class="row main-content">
            <div class="col-sm-3 filtros">
                <h2 class="filtro-titulo">
                    Medidores
                </h2>
                <div class="tipo-titulo">
                    {% if data.medidores %}
                        <ul>
                            {% for medidor in data.medidores %}
                                <li>
                                    <a href="">
                                        {{ medidor.serial }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="no-content">
                            <p>No hay medidores</p>
                        </div>
                    {% endif %}
                </div>
                <h2 class="filtro-titulo">
                    Pólizas
                </h2>
                <div class="tipo-titulo">
                    {% if data.polizas %}
                        <ul>
                            {% for poliza in data.polizas %}
                                <li>
                                    <a href="">
                                        {{ poliza.numero }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="no-content">
                            <p>No hay polizas</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="filtros_form">
                    {% crispy data.form %}
                </div>
            </div>
        </div>
    

        {% comment %}
        <div class="row">
            {% if data %}
                {% if data.graficos %}
                    {{ data.graficos|load_charts:data.charts_counter }}
                    {% for chart1 in data.graficos %}
                        <div class="col-md-12">
                            <div id="chart1_{{ forloop.counter }}"></div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <div class="no-content">                
                    <h1>NO SE ENCONTRARON DATOS</h1>
                </div>
            {% endif %}
        </div>
        {% endcomment %}
    </div>
{% endblock %}