{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}Tablero rápido{% endblock %}

{% block content %}
    {% block javascript %}
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{% static 'js/project.js' %}"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
        </script>
    {% endblock %}

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p>Total medidores: {{ data.usuario_medidores|length }}</p>
                </li>
                {% if data.medidor %}
                	<li>
                		<p>Medidor Padre: {{ data.medidor }}</p>
                	</li>
                	<li>
						<p>Medidores Relacionados: </p>
						<hr>
					</li>
				{% else %}
					<li>
						<p>Medidores Padres</p>
						<hr>
					</li>
                {% endif %}
				{% for medidor in data.medidores_filtered %}
					<li>
						<a href="/tablero_rapido/?medidor={{ medidor }}">{{ medidor }}</a>
	                </li>
	            {% endfor %}
                
            </ul>
        </div>

        <div id="page-content-wrapper" class="show_data">
            <div class="container-fluid">

                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Hidromed S.A. <small>Tablero rápido</small>
                        </h1>
                    </div>
                </div>
				
				{% if data.graficos.data_todos_medidores %}
	                <div class="row">

	                	<div class="col-lg-3 col-md-6">
	                        <div class="panel panel-primary panel-principal">

	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-12 text-right">
	                                        <div class="huge">{{ data.data_interes.consumo_total_seis_meses|floatformat:"0"|intcomma }}</div>
	                                        <div>Consumo</div>
	                                    </div>
	                                </div>
	                            </div>

                                <div class="panel-footer">
                                    <span class="pull-left">Últimos 6 meses</span>
                                    <div class="clearfix"></div>
                                </div>

	                        </div>
	                    </div>

	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-green">

	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-12 text-right">
	                                        <div class="huge">{{ data.data_interes.promedio_consumo_mensual|floatformat:"0"|intcomma }}</div>
	                                        <div>Promedio consumo mensual</div>
	                                    </div>
	                                </div>
	                            </div>

                                <div class="panel-footer">
                                    <span class="pull-left">Útimos 6 meses</span>
                                    <div class="clearfix"></div>
                                </div>

	                        </div>
	                    </div>

	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-yellow">

	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-12 text-right">
	                                        <div class="huge">{{ data.data_interes.consumo_mes_actual|floatformat:"0"|intcomma }}</div>
	                                        <div>Consumo</div>
	                                    </div>
	                                </div>
	                            </div>

                                <div class="panel-footer">
                                    <span class="pull-left">Mes actual</span>
                                    <div class="clearfix"></div>
                                </div>
	                            
	                        </div>

	                    </div>

	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-ciel">

	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-12 text-right">
	                                        <div class="huge">{{ data.data_interes.promedio_consumo_diario|floatformat:"0"|intcomma }}</div>
	                                        <div>Promedio consumo diario</div>
	                                    </div>
	                                </div>
	                            </div>
	                            
                                <div class="panel-footer">
                                    <span class="pull-left">Mes actual</span>
                                    <div class="clearfix"></div>
                                </div>
	                            
	                        </div>
	                    </div>

	                </div>

	                <div class="row">
						
						<a href="{% url 'grafica_gratis' %}">
		                    <div class="col-lg-12">
		                        <div class="panel panel-default">

		                            <div class="panel-heading">
		                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Consumo acumulado mensual </h3>
		                            </div>

		                            <div class="panel-body">
		                                <div  class="row">
				                            {{ data.graficos.data_todos_medidores.as_html }}
				                        </div>
		                            </div>

		                        </div>
		                    </div>
	                    </a>

	                </div>

	                <div class="row">

						<a href="{% url 'grafica_gratis' %}">
		                    <div class="col-lg-12">
		                        <div class="panel panel-default">

		                            <div class="panel-heading">
		                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Consumo acumulado total </h3>
		                            </div>

		                            <div class="panel-body">
		                                <div  class="row">
				                            {{ data.graficos.data_por_medidor.as_html }}
				                        </div>
		                            </div>
		                            
		                        </div>
		                    </div>
	                    </a>

	                </div>

	                <div class="row">

	                	<a href="{% url 'grafica_gratis' %}">
		                    <div class="col-lg-6">
		                        <div class="panel panel-default">

		                            <div class="panel-heading">
		                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Porcentaje de cosumo últimos 6 meses</h3>
		                            </div>

		                            <div class="panel-body">
		                                <div  class="row">
				                            {{ data.graficos.data_cirular_seis_meses.as_html }}
				                        </div>
		                            </div>

		                        </div>
		                    </div>
	                    </a>

	                    <a href="{% url 'grafica_gratis' %}">
		                    <div class="col-lg-6">
		                        <div class="panel panel-default">

		                            <div class="panel-heading">
		                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Porcentaje de cosumo mes actual</h3>
		                            </div>

		                            <div class="panel-body">
		                                <div  class="row">
				                            {{ data.graficos.data_cirular_mes_actual.as_html }}
				                        </div>
		                            </div>

		                        </div>
		                    </div>
	                    </a>
						
						<div class="col-lg-6">
	                        <div class="panel panel-default">

	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Alarmas mes actual</h3>
	                            </div>

	                            <div class="panel-body">
	                                <div class="row">
					                	<div class="col-lg-12 col-md-12">
					                		{% if data.data_interes.cant_alarmas <= 0 %}

						                		<div class="panel panel-green">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-12 text-right">
						                                        <div>
						                                        	<img src="{% static 'images/comprobado.svg' %}" alt="Zumbido">
						                                        </div>
						                                        <div>No hay alarmas</div>
						                                    </div>
						                                </div>
						                            </div>

					                                <div class="panel-footer">
					                                    <span class="pull-left">En el último mes</span>
					                                    <div class="clearfix"></div>
					                                </div>
						                        </div>

						                    {% else %}

						                        <div class="panel panel-red">
						                            <div class="panel-heading">
						                                <div class="row">
						                                    <div class="col-xs-12 text-right">
						                                        <div>
						                                        	<img src="{% static 'images/zumbido.svg' %}" alt="Zumbido">
						                                        </div>
						                                        <div>Alarmas!</div>
						                                    </div>
						                                </div>
						                            </div>

						                            <a href="{% url 'alarmas' %}">
						                                <div class="panel-footer">
						                                    <span class="pull-left">Ver detalle de alarmas</span>
						                                    <div class="clearfix"></div>
						                                </div>
						                            </a>
						                        </div>

						                    {% endif %}

					                    </div>
					                </div>
	                            </div>
	                            
	                        </div>
	                    </div>

	                </div>

                {% else %}
                    <div class="col-lg-12 no_data">
                        <img src="{% static 'images/advertencia.svg' %}" alt="Advertencia">
                        <h2>NO SE ENCONTRARON DATOS DE LOS MEDIDORES RELACIONADOS</h2>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}