{% extends "base.html" %}
{% load static %}

{% block title %}Usuario: {{ data.usuario.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="col-lg-12">
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Empresa Cliente</th>
                    <th>NIT Empresa Cliente</th>
                    <th>Dirección</th>
                    <th>Perfil</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.usuario.username }}</td>
                    <td>{{ data.usuario.cliente }}</td>
                    <td>{{ data.usuario.cliente.nit }}</td>
                    <td>{{ data.usuario.cliente.direccion }}</td>
                    <td>{{ data.usuario.get_perfil_display }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table>
            <thead>
                <tr>
                    <th>Póliza</th>
                    <th>Medidor</th>
                </tr>
            </thead>
            <tbody>
              {% for registro in data.poliza_medidores %}
                <tr>
                    <td>{{ registro.poliza }}</td>
                    <td>{{ registro.medidor }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock content %}

