{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <div class="col-lg-12">
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Empresa Cliente</th>
                    <th>NIT Empresa Cliente</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.username }}</td>
                    <td>{{ object.cliente }}</td>
                    <td>{{ object.cliente.nit }}</td>
                    <td>{{ object.cliente.direccion }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <table>
            <thead>
                <tr>
                    <th>Póliza</th>
                    <th>Medidor</th>
                </tr>
            </thead>
            <tbody>
              {% for registro in object.Poliza_Medidor_User %}
                <tr>
                    <td>{{ object.username }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock content %}

