h1 {
	text-align: left;
}

/* Panels */

.huge {
  font-size: 30px;
}

.panel-principal {
	color: #337ab7;
}

.panel-green {
	img {
		width: 50px; 
    	height: 50px;
	}

	color: #5cb85c;
	border-color: #5cb85c;
	> {
		.panel-heading {
			border-color: #5cb85c;
			color: #fff;
			background-color: #5cb85c;
		}
		a {
			&:hover {
				color: #3d8b3d;
			}
		}
	}
}

.panel-red {
	img {
		width: 50px; 
    	height: 50px;
	}

	border-color: #d9534f;
	> {
		.panel-heading {
			border-color: #d9534f;
			color: #fff;
			background-color: #d9534f;
		}
		a {
			color: #d9534f;
			&:hover {
				color: #b52b27;
			}
		}
	}
}

.panel-yellow {
	color: #f0ad4e;
	border-color: #f0ad4e;
	> {
		.panel-heading {
			border-color: #f0ad4e;
			color: #fff;
			background-color: #f0ad4e;
		}
		a { 
			&:hover {
				color: #df8a13;
			}
		}
	}
}

.panel-ciel {
	color: #41D1EB;
	border-color: #41D1EB;
	> {
		.panel-heading {
			border-color: #41D1EB;
			color: #fff;
			background-color: #41D1EB;
		}
		a { 
			&:hover {
				color: #df8a13;
			}
		}
	}
}
